*swn
*swo
*swp
*~
*.tmp
*.retry
temp/*
.bundle
.venv
.goenv
.config
*.cfg
*.sock
**/.ssh
*.retry
**/hosts
**/*.tfstate
**/*.backup
**/variables.tf
**/*id_rsa
**/*id_rsa.pub
bin/**
*.so
vendor/
.env
*swn
*swo
*swp
*~
*.tmp
temp/*
.bundle
.venv
.goenv
.config
*.cfg
*.lock
*.sock
vendor/**
