export KAFKA_TOPICS="some-topic"
export BOOTSTRAP_SERVERS="127.0.0.1:6667"
export GROUP_ID="testid"
export SESSION_TIMEOUT_MS="6000"
export GOEVENTS_CHANNEL_SIZE="1000"
export GOEVENTS_CHANNEL_ENABLE="true"
export GO_APPLICATION_REBALANCE_ENABLE="true"
export NEWRELIC_APP_NAME="kafka-ogi-test"
export NEWRELIC_LICENSE_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export LOG_LEVEL=Info
